<%- include('partials/header') %>


<div class="jumbotron centered" id="numberOne">
  <div class="container">
<a href="https://danyveneno.github.io/tarjetadepresentacion/" target="_blank"><img src="../img/jv.png" width="20%"><a/>
    <h1 class="display-3">¡Heyy Di Hola!</h1>
<h4>Desarrollamos herramientas digitales para cambiar tu negocio offline al online ¡Cambiate a lo Digítal!</h4>
    <p class="lead">Escribeme tus dudas</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Registrarse</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Inicia Sesión</a>
<br>
<br>
<br>
     <a href="https://github.com/DanyVeneno" target="_blank"><img src="../img/github.svg"></a>

     <a href="https://twitter.com/VenenoDigital" target="_blank"><img src="../img/twitter.svg" width="3%"></a>

  </div>
</div>

<%- include('partials/footer') %>
