<%- include('partials/header') %>

<div class="jumbotron text-center" id="numberFour">
  <div class="container">
    <a href="https://danyveneno.github.io/tarjetadepresentacion/" target="_blank"><img src="../img/cpt.png" width="25%"></a>
    <h1 class="display-3">YEHIIBHII</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">¡Dí hasta luego!</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Cuentame Algo</a>
  </div>
</div>

<%- include('partials/footer') %>
